@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --branco: #F8F9FA;
  --preto: #000000;
  --azul-primaria: #2B3B92;
  --amarelo-secundaria: #FFD700;
  --preto-suporte: #1C1C1C;
  /* --cinza-suporte: #363636; */
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: var(--azul-primaria);
}

main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  gap: 10px;
  color: var(--azul-primaria);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--branco);
  padding: 5px 30px;
  width: 60%;
  border-radius: 10px;
  /* box-shadow: 10px 10px 10px #808080; */
  gap: 25px;
}

.card .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

#info {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
  font-size: 14px;
}

#info img {
  width: 20px;
}

label {
  font-weight: bold;
  color: var(--azul-primaria);
}

label span {
  color: #ff0000;
}

input, select {
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  border: solid 1px var(--azul-primaria);
  background-color: var(--branco);
}

button {
  background-color: var(--azul-primaria);
  color: var(--branco);
  padding: 10px;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.resultSimulation {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
}

.resultSimulation span {
  font-weight: bold;
} 

.resultSimulation .geracao {
  color: var(--azul-primaria);
}

.resultSimulation .perda {
  color: #ff0000;
}


#pMessage {
  color: #ff0000;
  text-align: center;
}

.resultHeader {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.resultCard {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: var(--azul-primaria);
  align-items: center;
  padding: 10px 5px;
  border-radius: 5px;
  color: var(--branco);
  font-weight: bold;
  font-size: 16px;
}